@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;700;900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
    height: 100%;
}

/*** header ***/
.navBar {
    position: sticky;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #034C65;
    box-shadow: 5px 0 20px #034C65;
}

.navBar .navLogo a{
    color: #FAFAFA;
    font-size: 50px;
    font-weight: 700;
}

.navBar .navLogo span{
    color: #FCB677;
    font-size: 60px;
    text-shadow: 0 0 2px #FCB677;
}

.navBar .navLogo span:hover{
    color: #EF8C86;
    text-shadow: 0 0 2px #EF8C86;
    transition: 0.5s ease;
}

.navBar .navLinks li{
    display: inline-block;
    margin: 0 20px;
}

.navBar .navLinks li a{
    display: block;
    margin-left: 20px;
    color: #FAFAFA;
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.navBar .navLinks li .active{
    border-bottom: 4px solid #EF8C86;
}

.navBar .navLinks li a:hover{
    border-bottom: 4px solid #FCB677;
    transition: 0.3s ease;
}

.navBar .navIcons a{
    display: inline-block;
    margin: 0 10px;
}

.navBar .navIcons a i{
    color: #FCB677;
    font-weight: 900;
    font-size: 40px;
}

.navBar .navIcons a i:hover{
    color: #FAFAFA;
    text-shadow: 0 0 2px #FAFAFA;
	transform: scale(1.2);
    transition: 0.3s linear;
}

/*** filter page title ***/
.fTitle{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.fTitle h1{
    font-family: 'Figtree', sans-serif;
    color: #2F1F2B;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: 3px;
}

.fTitle p{
    font-weight: 400;
    color: #685268;
}

/*** filter form ***/

.fContainer{
    padding-bottom: 5%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.fContainer .sForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 800px;
    height: 280px;
    background-color: #FCB677;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(252, 182, 119, 0.8);
    margin: 0;
}

.fContainer .sForm .input{
    display: flex;
	justify-content: space-between;
	text-align: left;
	margin: 10px;
}

.fContainer .sForm .searchbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fContainer .sForm .searchbtn button{
	padding: 3px;
	border: none;
	border-radius: 5px;
	width: 150px;
	background-color: #685268;
    font-family: 'Figtree', sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 5px;
	color: #FAFAFA;
	text-align: center;
	cursor: pointer;
	transition: 0.3s linear;
}

.fContainer .sForm .searchbtn button:hover{
	text-shadow: 0 0 3px #FAFAFA;
    font-weight: 600;
	transform: scale(1.1);
}

/*** footer ***/
.footer{
    padding: 2px;
    background-color: #2F1F2B;
    bottom: 0;
    right: 0;
    left: 0;
    position: sticky;
}

.footer .footer1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer1 .footerLogo{
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.footer .footer1 .footerLogo span{
    color: #FCB677;
    font-size: 30px;
    text-shadow: 0 0 2px #FCB677;
}

.footer .footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer2 .footerBot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.footer .footer2 .footerBot .footerInf{
    text-align: center;
    color: #FAFAFA;
    font-size: 10px;
}

.footer .footer2 .footerBot .footerEnd{
    text-align: center;
    color: #FAFAFA;
    font-size: 10px;
    padding-bottom: 7px;
}

.searcht{
    text-align: center;
}

.searcht h1{
    font-family: 'Figtree', sans-serif;
    color: #e1d8df;
    color-shadow: 0 0 2px #e1d8df;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
    background-color: #034C65;
    box-shadow: 5px 0 20px #034C65;
}

.sContainer{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
}
